@import "./../../variables.scss";

.input-wrapper {
  display: flex;
  align-items: flex-end;
  flex: 1;
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 24px;
  &.no-border {
    border-bottom: none;
  }
  input {
    color: $darkgray;
    -webkit-text-fill-color: $darkgray;
    box-sizing: border-box;
    height: 62px;
    background: transparent;
    padding: 16px 0 0 0;
    outline: none;
    border: none;
    width: 100%;
    -webkit-box-shadow: 0 transparent inset;
    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
      background: transparent;
    }
    &::placeholder {
      color: $darkgray;
      opacity: 1;
      font-family: $font-family-text;
    }
    &:focus {
      &::placeholder {
        position: absolute;
        transform: translateY(-30px);
        font-size: 14px;
        transition: all 0.4s;
        z-index: 1;
      }
    }
    & ~ label {
      display: none;
      position: absolute;
      top: 2px;
      left: 32px;
      font-size: 14px;
    }
    &:not(:placeholder-shown) ~ label {
      display: block;
    }

    &[type="radio"] {
      position: absolute;
      visibility: hidden;
      & ~ label {
        position: relative;
        left: 0;
        padding: 0 0 16px 32px;
        align-self: flex-end;
        cursor: pointer;
        &::before {
          content: "";
          position: absolute;
          border: 2px solid $darkgray;
          border-radius: 100%;
          height: 16px;
          width: 16px;
          left: 0;
          top: 0;
        }
      }
      &:checked ~ label {
        &::after {
          content: "";
          position: absolute;
          background: $darkgray;
          border-radius: 100%;
          height: 12px;
          width: 12px;
          left: 4px;
          top: 4px;
        }
      }
    }

    &[type="checkbox"] {
      position: absolute;
      height: 0;
      width: 0;
      & + label {
        display: flex;
        align-items: center;
        cursor: pointer;
        left: 0;
        position: relative;
        font-size: 16px;
        &:before {
          content: "";
          display: block;
          margin-right: 16px;
          height: 16px;
          width: 16px;
          background-color: $primary-color;
        }
        &::after {
          display: none;
          content: "";
          position: absolute;
          left: 5px;
          top: 3px;
          width: 3px;
          height: 8px;
          border: solid white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }
      &:checked + label:after {
        display: block;
      }
    }

    &[type="password"] {
      & ~ i {
        cursor: pointer;
      }
    }
  }

  i  {
    padding: 0 0 16px;
    font-size: 20px;
    min-width: 32px;
    text-align: left;
  }
}
