@import "./../../variables.scss";

.edit-account {
  .form-wrapper {
    color: $darkgray;
    min-height: auto;

    form {
      min-height: auto;
      background: transparent;
    }
  }

  .input-wrapper {
    &:not(.no-border) {
      border-bottom: 1px solid $gray;
    }
    
    input {
      color: $darkgray;
      -webkit-text-fill-color: $darkgray;
      &:focus {
        border-color: $darkgray;
      }

      &[type="radio"] {
        & ~ label {
          &::before {
            border: 2px solid $darkgray;
          }
        }
        &:checked ~ label {
          &::after {
            background: $darkgray;
          }
        }
      }
    }
  }
}
