@import "./../../variables.scss";

.form-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &.auth-form {
    color: $white;

    .keep-logged-in {
      margin: 32px 0 0;
      text-align: left;
    }
  }

  .logo-wrapper {
    border-radius: 50%;
    margin: 0 auto 16px;
    width: 100px;
    height: 100px;
  }

  .form-group {
    display: flex;
    position: relative;
      .input-wrapper:not(:first-child) {
        margin-left: 16px;
      }
      > .error {
        bottom: 0;
      }
  }

  .btn {
    margin: 32px auto 0;
  }

  form {
    padding: 32px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient($secondary-color, $primary-color);
    text-align: center;
  }

  .form-title {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 16px;
  }

  .error {
    font-size: 12px;
    line-height: 1.5;
    color: red;
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
    padding: 0 4px;
    font-weight: bold;
    position: absolute;
    bottom: -22px;
  }

  .error-wrapper {
      margin-top: 24px;
      position: relative;
      .error {
          position: relative;
          display: inline-block;
          bottom: 0;
      }
  }

  .auth-link {
    font-size: 12px;
    margin-top: 2rem;
  }
}

@media (min-width: 320px) {
  .form-wrapper form {
    padding: 32px 48px;
  }
}

@media (min-width: 768px) {
  .form-wrapper {
    form {
      border-radius: 10px;
      width: 400px;
      min-height: auto;
    }
  }
}