@import "./../../variables.scss";

header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: unset;
  width: 100%;
  left: 0;
  height: 56px;
  transition: all ease-in-out 0.5s;
  z-index: 10;
  transition: all 0.5s;
  padding: 56px 15px 0;
  background: $primary-color;
  color: $white;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .image-wrapper {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: $white;
    border: 2px solid $white;
    overflow: hidden;
    margin: 0 auto;
    img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
  }

  .name {
    font-size: 24px;
    margin: 16px 0 8px;
    padding: 0;
    font-weight: 600;
    font-family: $font-family-titles;
    text-align: center;
    &.username {
      margin-top: 32px;
      font-size: 18px;
    }
  }

  ul {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    li {
      margin-bottom: 8px;

      a, &.logout {
        display: flex;
        align-items: center;
        padding: 12px 4px;
        font-weight: 500;
        position: relative;
        > div {
          flex: 1;
        }
        &:hover, &.active {
         color: $tertiary-color;
        }   
      }

      i.fa {  
        font-size: 20px;
        width: 20px;
        text-align: center;
      }
    }
  }

  .logout {
    margin: auto 0 0;
    cursor: pointer;
  }

  #mainnav-toggle {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;

    .hamburger {
      width: 20px;
      height: 3px;
      background: $white;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -1px 0 0 -10px;
      &:before, &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: $white;
      }
      &:before {
        top: -6px;
      }
      &:after {
        bottom: -6px;
      }
    }
    &:hover {
      .hamburger {
        &, &:before, &:after {
          background: $tertiary-color;
        }
      }
    }
  }

  &.opened {
    left: 0;
    height: 100%;
    #mainnav-toggle {
      .hamburger {
        background: transparent;
        &:before {
          transform: translateY(6px) rotate(135deg);
        }
        &:after {
          transform: translateY(-6px) rotate(-135deg);
        }
      }
    }
  }

  @media (min-width: 767px) {
    left: calc(56px - 300px);
    bottom: 0;
    width: 300px;
    height: 100%;
  }
}
