@import "./variables.scss";


.app-main {
    margin-left: 56px;
    padding: 30px 15%;

    h1 {
        text-align: right;
        margin-bottom: 64px;
    }

    @media (min-width: 991px) {
        
        margin-left: 56px;
    }
}