@import "./variables.scss";


#root {
    margin-top: 56px;

    main {
        margin: 0 64px;
    }

    @media (min-width: 768px) {
        max-width: calc(100% - 56px);
        margin-top: 0;
        margin-left: 56px;
    }
}
