@import "./variables.scss";


.app-main {
    h1 {
        text-align: right;
        margin-bottom: 64px;
    }

    @media (min-width: 991px) {
        max-width: 880px !important; 
        margin: 0 auto !important;
    }

    @media (min-width: 768px) {
        max-width: calc(100% - 56px);
        margin-left: 56px;
    }
}
