@import './variables.scss';
@import "font-awesome/scss/font-awesome.scss";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-text;
  position: relative;
}

#root {
  min-height: 100vh;
}


.title {
  font-family: $font-family-titles;
  margin-top: 0;
  font-weight: 500;
}
p {
  margin: 0;
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}