
$font-family-titles: 'Raleway', sans-serif;
$font-family-text: 'Montserrat', sans-serif;
$primary-color: #a93107;
$secondary-color: #ff9842;
$tertiary-color: #d5e228;
$text-color: #555555;
$white: #ffffff;
$black: #2f2f2f;
$darkgray: #646464;
$lightgray: #f7f7f7;
$gray: #bfbfbf;

$gutter: 15px;
